    <div class="container-fluid bg-purple text-white d-flex justify-content-center align-items-center" style ="height:3em;">
	<footer>
	    <p class = "mb-0 h-3">Caio's Manual</p>
	</footer>
    </div>
</body>
</html>
