<!DOCTYPE html>
<html>
    <head>
        <title>Caio's Blog</title>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Adding static folders-->
        <link rel="stylesheet"href="/static/css/style.css">
	<script type="text/javascript" src="/static/javascript/javascript.js"></script>

	<!-- Adding Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e7949eadec.js" crossorigin="anonymous"></script>

	<!-- Adding Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!--ADDING WYSIWYG-->
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js'></script>

    </head>
        <body class="body">
	  <div class="container-fluid">
	  <nav class = "navbar bg-transparent navbar-expand-md">
	    <div class="container">
	    <a class="nav-brand" id = "brand" href="/">Caio's Blog</a>
	    <div>
	      <form method="GET" action="/login/false">
		<button id="login-btn"class="btn btn-danger">Login</button>
	      </form>
	    </div>
	    </div>
	</nav>
