<!DOCTYPE html>
<html>
    <head>
        <title>Caio's Blog</title>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Adding static folders-->
        <link rel="stylesheet"href="/static/css/style.css">
	<script type="text/javascript" src="/static/javascript/javascript.js"></script>

	<!-- Adding Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e7949eadec.js" crossorigin="anonymous"></script>

	<!-- Adding Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!--ADDING WYSIWYG-->
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js'></script>
	
    </head>
    <body class="body">
      <nav class = "navbar bg-purple navbar-expand-lg">
	<div class="container row m-auto">
	  <div class="col d-flex justify-content-center">
	      <a class="navbar-brand text-white" id = "brand" style="" href="/">Caio's Blog</a>
	  </div>
	  <div class="col d-flex justify-content-center">
	    <i class="fas fa-laptop-code" style="font-size:2em;color:#ffc641"></i>
	  </div>
	  <div class="col d-flex justify-content-center">
	    <div>
	      <a id="login-btn" class="btn mr-2 font-weight-bolder" href="contact">Contact</a>
	    </div>
	    <div>
		<a id="login-btn"class="btn font-weight-bolder" href="login">Login</a>
	    </div>
	  </div>
	</div>
      </nav>
