<!DOCTYPE html>
<html>
    <head>
        <title>Caio's Blog</title>
	<!-- Adding Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet"href="/static/css/style.css">
	<!-- Adding Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--ADDING WYSIWYG-->
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js'></script>

        <body class="body">
	<nav class = "navbar bg-transparent navbar-expand-md">
	    <div class="container">
	    <a class="nav-brand" id = "brand" href="/">Caio's Blog</a>
	    <div>
		<button id="login-btn"class="btn btn-danger">Login</button>
	    </div>
	    </div>
	</nav>
