<% include partials/header %>

<div class="container-fluid p-0 d-flex justify-content-center font-weight-bold" style="height:50vh; word-break: break-word;">
    <div class = "container rounded d-flex justify-content-center flex-column ">
	<h1>Contato</h1>
	<br>
	<p>Qualquer questão, idéias, criticas, sinta-se a vontade para me enviar um email. <span style="color:#007bff;">caio.junior.vs@gmail.com</span></p>
	<p>Estou também no Linkedin <a href="https://www.linkedin.com/in/caiojrvs/">https://www.linkedin.com/in/caiojrvs/</a></p>
    </div>
</div>
    
<div class=" container-fluid p-0 position-absolute"  style=" bottom:0; left:0;">
    <% include partials/footer%>
</div>
