<% include partials/header %>

<div class="container bg-white rounded">
    <form action="/createpost" style="padding-top:10px;" method="POST">
	<textarea name="content" id="myEditor" style="padding-top:10px;"></textarea>
	<button class = "btn btn-danger" style="margin-top:10px; margin-bottom: 10px;">Submit</button>
    </form>
</div>

<script>
 var editor = new FroalaEditor('#myEditor', { language: 'pt_br' });
</script>
<% include partials/footer %>
