<% include partials/header %>
<div class="container bg-white rounded" style="width = 75%;">
    <h2><%= data.title %></h2>  
    <div id ="content"><%= data.post %></div>
</div>
<% include partials/footer %>
