<% include partials/header %>
<div id="post-content" class="container rounded"; font-family: 'Source Sans Pro', sans-serif;">
    <div  style="width:82%; margin:auto; padding-top:15px; padding-bottom: 15px;">
	<h2><%= data.title %></h2>  
	<div id="content" style="font-size:large;">
	    <%= data.post%>
	</div>
    </div>
</div>
<script>
 window.onload = ()=>{
     let parser = new DOMParser();
     let str  = document.getElementById('content').innerText;
     let doc = parser.parseFromString(str,"text/html");
     document.getElementById('content').innerHTML= doc.body.innerHTML;
     }
</script>

<% include partials/footer %>
