<% include partials/header %>
<div  class="container w-75 my-2">
    <div class="w-75 rounded post-content p-4 m-auto">
	<h2><%= data.title %></h2>  
	<div id="content" style="font-size:large;">
	    <%= data.post%>
	</div>
    </div>
</div>
<script>
 window.onload = ()=>{
     let parser = new DOMParser();
     let str  = document.getElementById('content').innerText;
     let doc = parser.parseFromString(str,"text/html");
     document.getElementById('content').innerHTML= doc.body.innerHTML;
     }
</script>

<% include partials/footer %>
