<% include partials/header %>

<div class = "container-fluid text-dark d-flex flex-column mt-3 justify-content-center" style="height: 80vh;">
    <div id="userforms" class= "container d-flex justify-content-center align-content-center">
	<form method="POST" action="/signin">
	    <div class="form-group">
		<label for="email">E-mail</label>
		<input name="loginEmail" type="email" class="form-control">
	    </div>
	    <div class="form-group">
		<label  for="password">Senha</label>
		<input name="loginPassword" type="password" class="form-control required">
	    </div>
	    <div class="form-group">
		<label  for="confpass">Confirme sua Senha</label>
		<input name="loginPassword" type="password" class="form-control required">
	    </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
	    <div id="sign-in-div" class="container-fluid">
	    </div>
	    <div class="cotainer d-flex flex-column align-items-center">
		<a id="no-login" href="/login"  class= "btn btn-warning px-4 py-2 bg-rounded mt-1 mx-auto">Já possui login?</a>
	    </div>
	</form>
    </div>
</div>
<div class="position-relative p-0 container-fluid" style ="bottom:0">
    <% include partials/footer %>
</div>
