html, body{
    height:100%;
    margin:0;
    height:0;
}

.login-box{
    padding-top:400px;
    background:#ffffffb8;
    margin:auto;
    width:350px;
    border-radius:1%;
}

.bg-purple{
    background-color:#5b15c7;
}
.bg-pink{
    background-color:#b515c7;
}
.body{
    font-family:'Montserrat',cursive;
}

.post-content{
    background:#ffffffe8;
}

.post-presenting{
    width:75%!important;

}

#brand{
    font-family:'Pacifico',cursive;
    font-size: 1.5em;
}

#login-btn{
    color:#5b15c7;
    background-color:white;
    border-color:white;
    border-radius:3%;
}

#text-area{
    height:500px;
    width:750px;
    padding-top:10px;
}

#editor {
    height:89%;
}

#main-post{
    background:url('https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') center center no-repeat scroll;
}

#bg-img-description{
    height:100%;
}
#nasa-logo{
    height:187px;
    margin-top:30px;
    width:auto;
}

@media (max-width: 575.98px){
    .post-presenting{
	width:100%!important;
    }

    #nasa-logo{
	max-height:120px;
    }
}

@keyframes appear{
    from{right:175px; opacity:0;}
    to{right:0px; opacity:1;}

}
